body{margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    
        
    font-family: sandoll-gothicneo3, sans-serif;
    
    font-weight: 400;
    
    font-style: normal;
    line-height: 1.5em;
    
    
    word-break: keep-all;}
    
li{
    list-style-type: none;
    line-height: 1.8em;
}

a{
    text-decoration: none;
    color:inherit;
}
    .wrapper{
        background-color: whitesmoke;
        height: 100%;
        position: relative;
        top:0px;
        height: 100%;
    }

    .emptydiv{
        position: relative;
        top:0px;
        left: 0px;
        width: 100vw;
        height: 85vh;
    }
    .mainwrapper{
        position: relative;
        top:0vh;
        
        width: 100vw;
        height: 100%;
        
    }
    
    .menu{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        left: 0px;
        width: 5vw;
        height: 6vh;
        background-color: none;
        z-index: 10;

        cursor:pointer;
        
        
    }

    .menubox{
        position: absolute;
        left: 0%;
        top:0%;

        padding-top: 30%;
        padding-left: 30%;
        width: 23vw;
        height: 60vh;
        z-index: 10;
        color: gray;
        background-color: rgba(238, 238, 238);
        display:none;
        
    }

    .displayBlock{
        display: block;
    }

   

    .x{
        width: 100%;
        
    }

    .xbox, .xboxBanner{
        position: absolute;
        top: 0px;
        right: 0px;
        cursor:pointer;
    }

    .menuicon{
        position: absolute;
        top: 0%;
        left: 1vw;
        font-size: 1.5em;
        
        width: 1vw;
        background-color: none;
        color: gray;
        z-index: 10;
        opacity: 100%;
        
        
        
    }
    

            .banner{
                position: absolute;
                top:125vh;
                left: 60vw;

                width: 23vw;
                height: 60vh;
                z-index: 10;
            }

            .onlineExPoster{
                width: 100%;
            }

            .displayNone{
                display: none;
            }
    .title{
        position: relative;
        top:38%;
        left: 60%;
        width: 100vw;
        height: 0vh;
        
        text-align: left;
        z-index: 10;
        color: gray;
        background-color: none;
        opacity: 100%;
        display: none;
    }
    
    .fixedheader{
        position: sticky;
        z-index: 10;
        
    }
    .mainVideo{
        position: absolute;
        top:0vh;
        left:0px;
        margin-top: 0vh;
        width: 100%;
        height: 100%;
        margin-bottom: 100vh;
        
        z-index: 9;
        background-color: white;

    
    }
    
    .up{
        position: absolute;
        top:94vh;
        width: 100vw;
        text-align: center;
        
        z-index: 10;
        color: white;
        font-size: 3em;
        
    }
    
    .lozad{
        width: 100%;
        height: 100%;
    }
    
    .headtext{
        position: relative;
        padding-top:20vh;
        padding-left: 20vw;
        width: 100%;
        height: 22vh;
        line-height: 2em;
        color: gray;
    }

    .headSubtext{
        line-height: 0.8em;
    }
    
    .maincontent{
        position: relative;
        top:0vh;
        left: 0%;
        
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        
        
        
        padding-bottom: 10%;
    }
    
            .frontpage{
                position: relative;
                top:0px;
                left: 0px;
                
                width: 100%;
                height: 120vh;
                
                
                grid-template-columns: 1fr 1fr;
                display: grid;
                
                background-color: whitesmoke;
            }
    
    .hcleft{
        padding-left: 20vw;
        width: 100%;

        
        
    }
    
    .hcright{
        width: 100%;

    }
    
    .imgbox{
        position: relative;
        
        padding: 1%;
        width: 50%;
       
        

        background-color: #82e6e6;
        
        
    }

    .secondimgbox{
        position: relative;
        
        padding: 1%;
        width: 50%;
       
        

        background-color: #ebc129;
    }
    
    .img{
        width: 100%;
        
    }
    
            .chairpage{
                position: relative;
                top:0px;
                left:0px;
                width: 100vw;
                height: 100%;
                
                grid-template-columns: 47% 52%;
                display: grid;
                
            }
    
    .oneimg{
        position: relative;
        top:0px;
        left: 0px;
        width: 90%;

        
    }
    
    .text{
        
        max-width: 60%;
        
    }

    .pageoneheader{
        padding-left: 10vw;
        max-width: 60%;
    }
    
    
    .frontimg
    {
        margin-bottom: 4.5%;
    }
    
    .subimg{
        grid-template-columns: 1fr 3% 1fr;
        display: grid;
         
    }
    
    .subimgbox{
        margin-bottom: 4%;
        line-height: 0px;
    }
    
    .pagetwo{
        position: relative;
        width: 94%;
        height: 100%;
        padding-top: 8%;
    }
    
    .subvideo{
        width: 94vw;
        height: 85vh;
        text-align: center;
        margin-bottom: 12%;
       
    }
    
    .jihyun{
        width:100%;
        height: 85vh;
        
    }
    
    .subpagetwo {
        grid-template-columns: 60% 1fr;
        display: grid;
        margin-bottom: 4%;
    }
    
    .vrtext{
        margin-left: 10%;
    }
    
    .subpagethree{
        grid-template-columns: 1fr 60%;
        display: grid;
    }
    
    .pagethree{
        margin-top: 5%;
        position: relative;
        width: 94.5%;
        height: 55vh;
        overflow: hidden;
        margin-bottom: 5%;
    }
    
                .pagefour{
                    position: relative;
                    width: 94.5%;
                    height: 100%;
                }

                .coloringBookLink{
                    border-radius: 3vw;
                    margin-top: 5vh;
                    background-color: #ebc129;
                    max-width: 50%;
                    padding: 3%;
                    text-align: center;
                }
    
    .subpageFour {
        grid-template-columns: 1fr 50%;
        display: grid;
        margin-bottom: 4%;
        margin-top: 1%;
    }

    .fouthpagefrontimg{
        width: 60%;
        padding-left: 15vw;
    }
    
    .pagefive{
        position: relative;
        left: -3%;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-top: 50%;
    }
            .onlineEX{
               position: relative;
               margin-top: 1%;
               margin-top: 30vh;
               
            }

            .onlineExHead{
                padding-left: 20vw;
                margin-bottom: 2%;
            }

    .onlineExImg{
        width: 100%;
    }

    .onlineExText{
        width: 50%;
        font-weight: 600;
    }

    .onlineExSubText{
        
        margin-top: 10%;
        font-weight: 100;
    }

    .headContent{
        position: relative;
        width: 100vw;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20vh;
    }

    .onlineExLeft{
        width: 50%;
        padding-left: 20vw;
    }

    .onlineEXRight{
        width: 50%;
        border-top: 3px solid #ebc129;
    }

    .onlineExScLeft{
        width: 50%;
        
        margin-left: 20vw;
        border-top: 3px solid #ebc129;
    }

    .onlineExScRight{
        width: 50%;
    }

    
    
    
    .subpagefive{
        grid-template-columns: 75% 1% 1fr;
        display: grid;
        
        margin-top: 8%;
        padding-right: 3%;
        
    }
    
    .subpagesix{
        grid-template-columns: 20% 45% 1% 1fr;
        display: grid;
        margin-bottom: 4%;
        margin-top: 1%;
        padding-right: 3%;
        
    }

            .blueborder{
                position: relative;
                width: 100vw;
                height: 20vh;
                
                background: linear-gradient(#82e6e6, whitesmoke);
            }

            .yellowborder{
                position: relative;
                width: 100vw;
                height: 20vh;
                
                background: linear-gradient(#ebc129, whitesmoke);
            }

            .oposite{
                transform: rotate(180deg);
            }
    
    


            @media only screen and (max-width: 700px){

                body{margin: 0px;
                    max-width: 100vw;
                    overflow-x: hidden;
                    
                        
                    font-family: sandoll-gothicneo3, sans-serif;
                    
                    font-weight: 400;
                    
                    font-style: normal;
                    line-height: 1.5em;
                    
                    
                    word-break: keep-all;}
                    
                li{
                    list-style-type: none;
                    line-height: 1.8em;
                }
                
                a{
                    text-decoration: none;
                    color:inherit;
                }
                    .wrapper{
                        background-color: whitesmoke;
                        height: 100%;
                        position: relative;
                        top:0px;
                        height: 100%;
                    }
                
                    .emptydiv{
                        position: relative;
                        top:0px;
                        left: 0px;
                        width: 100vw;
                        height: 85vh;
                    }
                    .mainwrapper{
                        position: relative;
                        top:0vh;
                        
                        width: 100vw;
                        height: 100%;
                        
                    }
                    
                    .menu{
                        position: -webkit-sticky;
                        position: sticky;
                        top: 0px;
                        left: 0px;
                        width: 5vw;
                        height: 6vh;
                        background-color: none;
                        z-index: 10;
                
                        cursor:pointer;
                        
                        
                    }
                
                    .menubox{
                        position: absolute;
                        left: 0%;
                        top:0%;
                
                        padding-top: 30%;
                        padding-left: 50%;
                        width: 100vw;
                        height: 90vh;
                        
                        
                    }
                
                    .displayBlock{
                        display: block;
                    }
                
                   
                
                    .x{
                        width: 73%;
                        
                    }
                
                    .xbox, .xboxBanner{
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        cursor:pointer;
                    }
                
                    .menuicon{
                        position: absolute;
                        top: 0%;
                        left: 3vw;
                        font-size: 1em;
                        
                        width: 1vw;
                        background-color: none;
                        color: gray;
                        z-index: 10;
                        opacity: 100%;
                        
                        
                        
                    }
                    
                
                            .banner{
                                position: absolute;
                                top:40vh;
                                left:10vw;
                
                                width:80vw;
                                height: 60vh;
                                z-index: 8;
                            }
                
                            .onlineExPoster{
                                width: 100%;
                            }
                
                            .displayNone{
                                display: none;
                            }
                    .title{
                        position: relative;
                        top:38%;
                        left: 60%;
                        width: 100vw;
                        height: 0vh;
                        
                        text-align: left;
                        z-index: 10;
                        color: gray;
                        background-color: none;
                        opacity: 100%;
                        display: none;
                    }
                    
                    .fixedheader{
                        position: sticky;
                        z-index: 10;
                        
                    }
                    .mainVideo{
                        
                        height: 30vh;
                        margin-bottom: 5vh;
                    }
                    
                    
                    
                    .lozad{
                        width: 100%;
                        height: 100%;
                    }
                    
                    .headtext{
                        position: relative;
                        padding-top:20vh;
                        padding-left: 10vw;
                        width: 100%;
                        height: 22vh;
                        font-size: 0.8em;
                        line-height: 1em;
                        color: gray;
                    }
                
                    .headSubtext{
                        line-height: 0.8em;
                    }
                    
                    .maincontent{
                        position: relative;
                        top:0vh;
                        left: 0%;
                        
                        width: 100%;
                        height: 100%;
                        background-color: whitesmoke;
                        
                        
                        
                        padding-bottom: 10%;
                    }
                    
                            .frontpage{
                                position: relative;
                                top:0px;
                                left: 0px;
                                
                                width: 100%;
                                height: 60vh;
                                
                                font-size: 0.8em;
                                grid-template-columns: 1fr 1fr;
                                display: grid;
                                
                                background-color: whitesmoke;
                            }
                    
                    .hcleft{
                        padding-left: 10vw;
                        width: 100%;
                
                        
                        
                    }
                    
                    .hcright{
                        width: 100%;
                
                    }
                    
                    .imgbox{
                        position: relative;
                        
                        padding: 3%;
                        width: 70%;
                       
                        
                
                        background-color: #82e6e6;
                        
                        
                    }
                
                    .secondimgbox{
                        position: relative;
                        
                        padding: 3%;
                        width: 70%;
                       
                        
                
                        background-color: #ebc129;
                    }
                    
                    .img{
                        width: 100%;
                        
                    }
                    
                            .chairpage{
                                position: relative;
                                top:0px;
                                left:0px;
                                width: 100vw;
                                height: 100%;
                                font-size: 0.8em;
                                line-height: 1.5em;
                                display: block;
    
                                
                            }
                    
                    .oneimg{
                        position: relative;
                        top:0px;
                        left: 10vw;
                        width: 82%;
                
                        
                    }
                    
                    .text{
                        padding-left: 10vw;
                        max-width: 95%;
                        font-size: 0.8em;
                        line-height: 1.5em;
                        
                    }
                
                    .pageoneheader{
                        padding-left: 10vw;
                        max-width: 60%;
                    }
                    
                    
                    .frontimg
                    {
                        margin-bottom: 4.5%;
                    }
                    
                    .subimg{
                        grid-template-columns: 1fr 3% 1fr;
                        display: grid;
                         
                    }
                    
                    .subimgbox{
                        margin-bottom: 4%;
                        line-height: 0px;
                    }
                    
                    .pagetwo{
                        position: relative;
                        width: 94%;
                        height: 100%;
                        padding-top: 8%;
                    }
                    
                    .subvideo{
                        width: 94vw;
                        height: 85vh;
                        text-align: center;
                        margin-bottom: 12%;
                       
                    }
                    
                    .jihyun{
                        width:100%;
                        height: 85vh;
                        
                    }
                    
                    .subpagetwo {
                        grid-template-columns: 60% 1fr;
                        display: grid;
                        margin-bottom: 4%;
                    }
                    
                    .vrtext{
                        margin-left: 10%;
                    }
                    
                    .subpagethree{
                        grid-template-columns: 1fr 60%;
                        display: grid;
                    }
                    
                    .pagethree{
                        margin-top: 5%;
                        position: relative;
                        width: 94.5%;
                        height: 55vh;
                        overflow: hidden;
                        margin-bottom: 5%;
                    }
                    
                                .pagefour{
                                    position: relative;
                                    width: 94.5%;
                                    height: 100%;
                                }
                
                                .coloringBookLink{
                                    border-radius: 3vw;
                                    margin-top: 5vh;
                                    background-color: #ebc129;
                                    max-width: 50%;
                                    padding: 3%;
                                    text-align: center;
                                }
                    
                    .subpageFour {
                        
                        display: block;
                        margin-bottom: 4%;
                        margin-top: 1%;
                    }
                
                    .fouthpagefrontimg{
                        width: 82%;
                        padding-left: 10vw;
                    }
                    
                    .pagefive{
                        position: relative;
                        left: -3%;
                        width: 100%;
                        height: 100%;
                        padding: 0px;
                        margin-top: 50%;
                    }
                            .onlineEX{
                               position: relative;
                               margin-top: 1%;
                               margin-top: 20vh;
                               
                            }
                
                            .onlineExHead{
                                padding-left: 10vw;
                                margin-bottom: 2%;
                            }
                
                    .onlineExImg{
                        width: 100%;
                    }
                
                    .onlineExText{
                        width: 50%;
                        font-weight: 600;
                    }
                
                    .onlineExSubText{
                        
                        margin-top: 10%;
                        font-weight: 100;
                    }
                
                    .headContent{
                        position: relative;
                        width: 100vw;
                        height: 100%;
                        
                        display: block;
                        margin-bottom: 20vh;
                    }
                
                    .onlineExLeft{
                        width: 82%;
                        padding-left: 10vw;
                    }
                
                    .onlineEXRight{
                        width: 82%;
                        margin-left: 10vw;
                        border-top: 3px solid #ebc129;
                    }
                
                    .onlineExScLeft{
                        width: 82%;
                        margin-left: 10vw;
                        border-top: 3px solid #ebc129;
                    }
                
                    .onlineExScRight{
                        width: 50%;
                    }
                
                    
                    
                    
                    .subpagefive{
                        grid-template-columns: 75% 1% 1fr;
                        display: grid;
                        
                        margin-top: 8%;
                        padding-right: 3%;
                        
                    }
                    
                    .subpagesix{
                        grid-template-columns: 20% 45% 1% 1fr;
                        display: grid;
                        margin-bottom: 4%;
                        margin-top: 1%;
                        padding-right: 3%;
                        
                    }
                
                            .blueborder{
                                position: relative;
                                width: 100vw;
                                height: 20vh;
                                
                                background: linear-gradient(#82e6e6, whitesmoke);
                            }
                
                            .yellowborder{
                                position: relative;
                                width: 100vw;
                                height: 20vh;
                                
                                background: linear-gradient(#ebc129, whitesmoke);
                            }
                
                            .oposite{
                                transform: rotate(180deg);
                            }





            }




            


